<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>MyProject_1</servlet-name>
		<servlet-class>com.example.myproject.MyProject_1Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyProject_1</servlet-name>
		<url-pattern>/myproject_1</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>Exerice3</servlet-name>
		<servlet-class>com.example.myproject.Exerice3</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Exerice3</servlet-name>
		<url-pattern>/exerice3</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>StockDetailsServlet</servlet-name>
		<servlet-class>com.example.myproject.StockDetailsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StockDetailsServlet</servlet-name>
		<url-pattern>/StockDetailsServlet</url-pattern>
	</servlet-mapping>
	
			<servlet>
		<servlet-name>PortfolioServlet</servlet-name>
		<servlet-class>com.example.myproject.servlet.PortfolioServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PortfolioServlet</servlet-name>
		<url-pattern>/PortfolioServlet</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
